{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block description %}Connectez-vous sur Codersaurus Rex, la référence francophone de la programmation et du développement !{% endblock %}

{% block body %}
<div class="container col-12 col-md-6">
    <form method="post" class="auth-form my-5 p-5">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <p><span class="fw-bold">Attention :</span> Vous êtes sur une version de test de Codersaurus Rex ! Vous pouvez utiliser le compte de test avec les données pré-remplies ci-dessous, mais vous ne pouvez pas créer de compte.</p>
        <div class="mb-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="test@gmail.com" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="mb-4">
            <label for="inputPassword">Mot de passe</label>
            <input value="test" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="form-check checkbox mb-3">
            <label>
                <input class="form-check-input" type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary mb-3 mb-lg-0">
                Se connecter
            </button>
            <p>Pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous !</a></p>
        </div>
    </form>
</div>
{% endblock %}
