{% extends "base.html.twig" %}

{% block body %}
      <!-- Hero Img -->
      <div class="hero">
        <div class="container text-light d-flex flex-column justify-content-center align-items-center text-center">
          <h1>Codersaurus Rex</h1>
          <h2>Un blog collaboratif sur le codage, par les codeurs, pour les codeurs.</h2>
        </div>
      </div>
      {% include "article/_tags.html.twig" %}
      <!-- Articles -->
      <main class="articles container">
        <div class="row mt-5">
        {% for article in articles %}
            {% include "article/_article-card.html.twig" %}
        {% endfor %}
        </div>
        <!-- See more articles -->
        <div class="d-flex justify-content-center my-4">
        {% if currentTag == "Les derniers articles" %}
          {{ pagerfanta(articles) }}
        {% endif %}
          {# <a href="#" class="fw-bold text-decoration-none fs-5">Plus d'articles &#10132;</a> #}
        </div>
      </main>
{% endblock %}
