// Variables
$primary-color: #0075FF;
$primary-color-dark: darken($primary-color, 10);
$primary-color-light: lighten($primary-color, 10);

$background-color: #fafafa;
$background-color-dark: darken($background-color, 10);

// Mixins
@mixin box-shadow {
    box-shadow: 2px 2px 10px $background-color-dark;
}

// Base
body {
    background-color: $background-color;
}

// Navbar
.navbar {
    background-color: $background-color;
    @include box-shadow();
}

.navbar-light {
    .navbar-brand {
        color: $primary-color;
        font-weight: bold;
        transition: 0.2s;
    
        &:hover {
            color: $primary-color-dark;
        }
    }

    .navbar-nav {
        .nav-link.active {
            color: $primary-color-dark;
        }
        .nav-link {
            color: $primary-color;
            font-weight: 500;
        }
    }

}

