// Import
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Mixins
@mixin container {
    max-width: 1200px;
    margin: auto;
  }
  
  // Responsive
  @mixin mobile {
    @media (max-width: 599px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 900px) {
      @content;
    }
  }

// Variables
$primary-color: #0075FF;
$primary-color-dark: darken($primary-color, 10);
$primary-color-light: lighten($primary-color, 10);

$background-color: #fafafa;
$background-color-dark: darken($background-color, 10);

// Mixins
@mixin box-shadow {
    box-shadow: 2px 2px 10px $background-color-dark;
}

// Base
body {
    background-color: $background-color;
    font-family: 'Mukta', sans-serif;
}

// Navbar
.main-navbar {
    background-color: $background-color;
    @include box-shadow();
}

.main-navbar.navbar-light {
    .navbar-brand {
        color: $primary-color;
        font-family: 'Press Start 2P', cursive;
        transition: 0.2s;
        font-size: 1.25em;

        @include mobile {
            font-size: 0.8em;
        }
    
        &:hover {
            color: $primary-color-dark;
        }
    }

    .navbar-nav {
        .nav-link.active {
            color: $primary-color-dark;
        }
        .nav-link {
            color: $primary-color;
            font-weight: 700;
        }
    }
}

// Hero
.hero {
    background-image: url("../img/codersaurus-rex-hero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include box-shadow();

    .container {
        height: 50vh;
    }

    h1 {
        font-family: 'Press Start 2P', cursive;

        @include mobile {
            font-size: 1.2em;
        }
    }

    h2 {
        font-size: 1.2em;

        @include mobile {
            font-size: 1em;
        }
    }
}

// Tags
.tags {

    hr {
        background-color: $primary-color;
        padding: 2px;
        width: 30%;

    }

    .btn-primary {
        background-color: $primary-color;

        &:hover {
            background: $primary-color-dark;
        }

        &.active {
            background-color: $primary-color-dark;
        }
    }
}