// Variables
$primary-color: #0075FF;
$primary-color-dark: darken($primary-color, 10);
$primary-color-light: lighten($primary-color, 10);

$text-color: #000000;

$background-color: #fafafa;
$background-color-dark: darken($background-color, 10);
$background-color-light: lighten($background-color, 10);