.articles {

    .card {
        transition: 0.2s;
        height: 30em;

        &:hover {
            box-shadow: 10px 10px 5px $background-color-dark;
        }

        &-link {
            color: $text-color;
            transition: 0.2s;
        }

        &-img-top {
            width: 100%;
            height: 15em;
            object-fit: cover;
        }

        &-author {
            color: $primary-color;
        }
    }
}