// Header post
.post {

    &__header {
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    
        h2 {
            color: $primary-color;
        }
    }

    &__content {
        h2, h3, h4, h5, h6 {
            color: $primary-color-dark;
            margin-top: 1.5em;
            margin-bottom: 0.8em;
        }

        img {
            display: block;
            margin: 1em auto;
        }
    }

    &__aside {
        .card {
            background-color: $primary-color;
            transition: 0.2s;

            &:hover {
                background-color: $primary-color-dark;
            }
        }
    }

    &__comment {

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}