{% block navbar %}
    <nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
          <a class="navbar-brand mx-auto" href="{{ path('app_home') }}">Codersaurus Rex</a>
          <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="main-navbar__link nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
              </li>
              <li class="nav-item">
                {% if   is_granted('ROLE_USER') %}
                  <a class="nav-link" href="{{ path('app_logout' )}}">Déconnexion</a>
                {% else %}
                  <a class="nav-link" href="{{ path('app_login' )}}">Connexion</a>
                {% endif %}
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sujets
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">HTML</a></li>
                  <li><a class="dropdown-item" href="#">CSS</a></li>
                  <li><a class="dropdown-item" href="#">JavaScript</a></li>
                  <li><a class="dropdown-item" href="#">PHP</a></li>
                  <li><a class="dropdown-item" href="#">Python</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Emploi</a></li>
                  <li><a class="dropdown-item" href="#">Reconversion</a></li>
                  <li><a class="dropdown-item" href="#">Études de cas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% endblock %}