{% block article %}
<!-- Single article -->
<div class="col-10 col-md-5 mx-auto my-2 my-md-4">
    <a href="{{ path('app_post_show') }}" class="card-link text-decoration-none">
        <div class="card">
            <img src="{{ asset('/images/article-' ~ random(['1', '2', '3', '4'])  ~ '.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Comment centrer une div ?</h5>
            <p class="card-text">Le cauchemar de tous les développeurs ! Comment faire pour exécuter une action aussi difficile ? On vous explique tout ici !</p>
            <aside class="row mt-3">
                <p class="col-6 text-decoration-none fw-bold card-author">Par Lucas</p>
                <p class="col-6 text-muted fst-italic">Il y a 3 jours</p>
                <p class="col-12">
                <span>HTML</span>,
                <span>CSS</span>
                </p>
            </aside>
            </div>
        </div>
    </a>
</div>
{% endblock %}