<form method="post" action="{{ path('app_article_validation', {'slug': article.slug}) }}" onsubmit="return confirm('Voulez-vous confirmer cet article et mettre en avant celui-ci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validation' ~ article.id) }}">
    <button class="btn btn-danger">À valider</button>
</form>
