{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}
<!-- Tags -->
<section class="container tags mt-4">
    <h1 class="my-5">Tous les articles</h1>
    <hr class="my-3">
    <div class="d-flex flex-row align-items-start flex-wrap gap-4">
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">HTML</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">CSS</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">JavaScript</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">PHP</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Python</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Ruby</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Java</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">WordPress</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Prestashop</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Reconversion</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Lifestyle</a>
        <a href="#" class="btn btn-primary d-block px-5 py-2 fw-bolder shadow border font-monospace">Emplois</a>
    </div>
</section>
<!-- Articles -->
<main class="articles container">
    <div class="row mt-5">
    {% for article in articles %}
        {% include "article/_article-card.html.twig" %}
    {% endfor %}
    </div>
</main>
{% endblock %}
